div.main {
  overflow-x: hidden;
  overflow-y: auto;
  height: 1000px;
  position: relative;
}
div.content {
  text-align: justify;
  background-color: lightblue;
}
app-footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
