div.main {
  display:block;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
div.content {
  text-align: justify;
  background-color: lightblue;
}
div.footer {
  width: 100%;
  margin-bottom: -10px;
}
